:root {
  --inner-border: 0.5px dashed #1117;
  --cell-border: 1.5px solid black;
  --cell-transition-time: 0.25s;
}

.tiler {
/*  height: 100%;*/
}

.grid {
/* fix jitter on first load */
  min-height: 18rem;
/* js uses client dimension calculation*/
  padding: 0;
  margin: 1rem 2rem;
}

.grid-table {
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: auto;
  transition: width 1s, height 1s;
}

.fade-in {
  animation: fadeIn ease 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-out {
  animation: fadeOut ease 1s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.cell {
/*  width: var(--cell-width);*/
/*  height: var(--cell-height);*/
  background-color: #fff;
  transition: background-color var(--cell-transition-time), border calc(var(--cell-transition-time) / 2);
  border: var(--cell-border);
}

.cell-0 {
  background-color: #000;
}
.cell-5 {
  background-color: #999;
}
.cell-1 {
  background-color: #fb9;
}
.cell-2 {
  background-color: #fe9;
}
.cell-3 {
  background-color: #f9f;
}
.cell-4 {
  background-color: #9fe;
}

.cell-N {
  border-bottom: var(--inner-border);
}
.cell-S {
  border-top: var(--inner-border);
}
.cell-E {
  border-left: var(--inner-border);
}
.cell-W {
  border-right: var(--inner-border);
}

.cell-NE {
  border-bottom: var(--inner-border);
  border-left: var(--inner-border);
}
.cell-SE {
  border-top: var(--inner-border);
  border-left: var(--inner-border);
}
.cell-SW {
  border-top: var(--inner-border);
  border-right: var(--inner-border);
}
.cell-NW {
  border-bottom: var(--inner-border);
  border-right: var(--inner-border);
}
